.periodo{
    font-family: 'Times New Roman', Times, serif;
}
.salvar{
    text-align: center;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.salvar:hover{
    background-color: rgb(17, 0, 255);
}
input[type=number]::-webkit-inner-spin-button{
-webkit-appearance: none;
}