* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: darkgray;
    min-height: 100vh;
    display: flex;
    gap: 15px; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza horizontalmente o container */
    align-items:center; /* Centraliza verticalmente o container */
    flex-wrap: wrap; /* Querbrar o item  */
}

.item {
    width: 200px; /* Largura do item */
    height: 200px; /* Altura do item*/
    border: 2px solid black;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os itens */
    align-items: center; /* Centraliza verticalmente os itens */
}